<footer>
    <div class="footer text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                &copy; copyright <a href="https://github.com/fabienwang/"><span class="octicon octicon-mark-github"></span> fabienwang</a> &bull; contenu sous licence libre CC-BY-SA sauf si mention contraire
              </div>
          </div>
      </div>
  </div>
</footer>
