{{!< default}}
<main>
    <article class="{{post_class}}">
        {{#post}}
        <section class="posts">
            {{content}}
            <hr />
        </section>
        {{/post}}
    </article>
</main>
